{% extends "base.html" %}
<!--  -->
{% block title %}{{post.title}}{% endblock %}
<!--  -->
{% block main_content %}
<div>
  <h1>{{post.title}}</h1>
  <p>{{post.content}}</p>
  <form action="/users/{{post.user_id}}">
    <button>Back to {{post.users.first_name}} {{post.users.last_name}}</button>
  </form>
  <form action="/posts/{{post.id}}/edit" method="GET">
    <button>Edit</button>
  </form>
  <form action="/posts/{{post.id}}/delete" method="POST">
    <button>Delete</button>
  </form>
</div>
{% endblock %}
